{:schema "kotoba.capability.repository.v1", :capability/version 1, :capability/hash-contract-cid "bafkreiflhj3fslsbh7okdas2fzlhmogai64x6p3lkla6gtr7berbp7ftvi", :capability/definition-cid "bafyreigozrpzqrltjlmc4kfzhxrrc7e5noquzcjmzkzoy4tiusa7d43hii", :capability/dependencies #{}, :capability/imports #{:frame-send :frame-receive}, :authority "kotoba-lang/kotoba-core-contracts", :capability/default-policy :approval-required, :capability/artifact {:format :wasm-component, :digest-required? true, :signature-required? true}, :capability/radicle-rid "rad:z4LnHVR6NKbSTsuWxF8HxExmBct72", :capability/repository "kotoba-lang/capability-link-frame", :capability/id "link/frame", :capability/effects #{:data-egress :no-addressing-boundary :network-read :network-write :device-control}, :capability/provider-status :contract-only}
